* {
  margin: 0;
  padding: 0;
  overflow: visible; }

body {
  overflow: visible;
  background: #324c5c; }

::-webkit-scrollbar {
  width: 10px; }
  ::-webkit-scrollbar-track {
    background: #222222; }
  ::-webkit-scrollbar-thumb {
    background: #525252; }
    ::-webkit-scrollbar-thumb:hover {
      background: gray; }

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: block;
  /* height: 50vh; */ }

nav {
  position: static;
  top: 0;
  background: #324c5c;
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* height: 70px; */
  margin: auto; }
  nav .brand {
    margin: 15px auto;
    z-index: 1;
    background: #eba439;
    height: 24px;
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav .brand a {
      height: 45px;
      width: 110px;
      background: transparent;
      color: #324c5c;
      font: normal normal 900 30px helvetica;
      letter-spacing: -0.06em;
      text-decoration: none; }
  nav .menu {
    background: #eba439;
    height: 100vh;
    width: 40vw;
    position: absolute;
    left: -40vw;
    z-index: 95;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: left 0.4s ease, opacity 0.4s ease; }
    nav .menu--items {
      list-style: none;
      margin: 15px 0;
      font: normal normal 700 20px helvetica;
      letter-spacing: 0.03em;
      text-decoration: none; }
      nav .menu--items a {
        color: #324c5c;
        text-decoration: none; }
    nav .menu--transparency {
      background-color: rgba(26, 68, 107, 0.4);
      position: absolute;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: 0;
      opacity: 0;
      visibility: hidden; }
  nav .hamburger {
    z-index: 99;
    position: fixed;
    left: 0;
    margin: 10px;
    width: 25px;
    height: 25px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav .hamburger > div {
      left: 0;
      position: relative;
      width: 100%;
      height: 2px;
      background: #eba439;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
      /* transition-delay: -0.08s; */ }
      nav .hamburger > div:before, nav .hamburger > div:after {
        content: "";
        position: absolute;
        z-index: 999;
        top: -8px;
        width: 100%;
        height: 2px;
        background: inherit; }
      nav .hamburger > div:after {
        top: 8px; }
  nav .toggle {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    margin: 10px;
    opacity: 0; }
    nav .toggle:checked ~ .menu--transparency {
      /* left: 28vw; */
      visibility: visible;
      z-index: 90;
      opacity: 1;
      transition: opacity 0.4s ease; }
    nav .toggle:checked + .hamburger > div {
      /* left: 28vw; */
      background: #324c5c;
      transform: rotate(45deg);
      transition-delay: 0.05s; }
      nav .toggle:checked + .hamburger > div:before, nav .toggle:checked + .hamburger > div:after {
        background: #324c5c;
        top: 0;
        transform: rotate(90deg);
        /* transition: top 0.8s;
        transition-delay: rotation 0.5s; */ }
    nav .toggle:checked ~ .menu {
      left: 0;
      opacity: 1;
      transition: left 0.4s ease, opacity 0.4s ease; }
    nav .toggle:checked ~ .cart__icon {
      z-index: 80; }
    nav .toggle:checked ~ .toggle__cart {
      z-index: 80; }
    nav .toggle__cart {
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      margin: 5px;
      opacity: 0;
      z-index: 120; }
      nav .toggle__cart:checked .cart__icon {
        color: #324c5c;
        background: #eba439; }
      nav .toggle__cart:checked ~ .cart__menu {
        right: 0px;
        opacity: 1;
        transition: right 0.4s ease, opacity 0.4s ease; }
      nav .toggle__cart:checked ~ .menu--transparency {
        visibility: visible;
        z-index: 101;
        opacity: 1;
        transition: opacity 0.4s ease; }
      nav .toggle__cart:checked {
        z-index: 120; }
  nav .cart__menu {
    background: #1c3f53;
    height: 100vh;
    width: 80vw;
    right: -80vw;
    z-index: 105;
    display: block;
    opacity: 0;
    position: absolute;
    transition: right 0.4s ease, opacity 0.4s ease;
    padding: 0;
    margin: 0; }

.announcement {
  width: 100%;
  top: 0;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #324c5c;
  font: normal normal 700 18px helvetica;
  /* height: 50px; */
  background: #eba439; }
  .announcement p {
    text-align: center;
    padding: 12px 15px; }

.homePage {
  background: #324c5c;
  margin-top: 128px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #b5cfcc; }
  .homePage a {
    text-decoration: none; }
  .homePage button {
    border-color: #eba439;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background: transparent;
    font: normal normal 700 20px Helvetica;
    letter-spacing: 0.3em;
    width: max-content;
    height: 50px;
    color: #eba439; }
  .homePage .popular {
    font: normal normal 700 25px Helvetica;
    letter-spacing: 0.2em;
    /* line-height: 165%; */
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .homePage .popular img {
      margin-bottom: 20px;
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .homePage .popular p {
      font: normal normal 600 20px Helvetica;
      letter-spacing: 0.1em;
      padding: 10px;
      color: #5bdfac; }

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px; }

.product {
  top: 150px;
  height: 100%;
  width: 100%;
  font-family: helvetica;
  margin-top: 150px; }
  .product a {
    text-decoration: none; }
  .product h1 {
    width: max-content;
    margin: auto;
    color: #eba439; }
  .product__name, .product__price, .product__btn {
    width: max-content;
    display: block;
    margin: 5px auto; }
  .product__list {
    margin: 25px 25px 50px 25px; }
  .product img {
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
    object-fit: cover; }
  .product__name {
    color: #b5cfcc;
    font: normal normal 700 25px Helvetica;
    letter-spacing: 0.2em; }
  .product__price {
    font: normal normal 600 20px Helvetica;
    letter-spacing: 0.1em;
    padding: 10px;
    color: #5bdfac; }
  .product__btn {
    border-color: #eba439;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background: transparent;
    font: normal normal 700 20px Helvetica;
    letter-spacing: 0.2em;
    height: 40px;
    padding: 0 10px;
    color: #eba439; }

.cart {
  background: transparent;
  height: 100%;
  width: 100%;
  z-index: 106;
  display: block; }
  .cart h1 {
    display: block;
    width: max-content;
    top: 15px;
    font: normal normal 700 25px helvetica;
    color: #eba439;
    margin: 20px auto; }
  .cart hr {
    display: block;
    height: 1px;
    width: 85%;
    margin: 30px auto 0 auto;
    border: 0;
    background: #eba439; }
  .cart__icon {
    background: url(./images/Cart.png) no-repeat;
    background-size: contain;
    z-index: 119;
    border-color: #eba439;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 0;
    height: 50px;
    width: 50px;
    font-size: 20px;
    margin: 3px;
    color: #eba439;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 5px; }
    .cart__icon a {
      text-decoration: none;
      color: #eba439; }
  .cart__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 80%;
    margin: 0;
    padding: 0;
    overflow-y: scroll; }
  .cart__items {
    /* width: max-content; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin: 30px 20px;
    width: max-content; }
  .cart img {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 80px;
    width: 80px;
    object-fit: cover;
    align-self: center;
    padding: 0 20px 0 0; }
  .cart__name {
    grid-row: 1/2;
    grid-column: 2/3;
    color: #b5cfcc;
    font: normal normal 700 20px helvetica;
    letter-spacing: 0.2em;
    align-self: start;
    width: max-content; }
  .cart__price {
    grid-row: 1/2;
    grid-column: 2/3;
    font: normal normal 600 14px helvetica;
    letter-spacing: 0.1em;
    color: #5bdfac;
    align-self: end;
    width: max-content; }
  .cart__buttons {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    margin: 10px 0;
    width: max-content; }
  .cart__remove {
    border-color: #eba439;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background: transparent;
    font: normal normal 700 12px helvetica;
    letter-spacing: 0.3em;
    height: 30px;
    width: max-content;
    padding: 0 10px;
    color: #eba439;
    justify-self: end;
    margin-left: 20px; }
  .cart__quantity {
    color: #eba439;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #eba439;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    justify-self: center; }
    .cart__quantity--count {
      border: 0;
      max-width: 30px;
      max-height: 30px;
      background: #324c5c;
      width: inherit;
      height: inherit;
      text-align: center;
      color: #eba439; }
    .cart__quantity--increment {
      width: 20px;
      height: 30px;
      color: inherit;
      border: 0;
      background: transparent; }
  .cart__checkout {
    width: 100%;
    height: 10%;
    /* position: absolute; */
    bottom: 0;
    color: #eba439;
    text-align: center;
    margin-top: auto; }
    .cart__checkout text {
      top: 50vh; }
    .cart__checkout button {
      height: max-content;
      width: max-content;
      display: block;
      margin: 15px auto;
      padding: 8px 15px;
      border-color: #eba439;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      background: #eba439;
      font: normal normal 700 20px helvetica;
      color: #324c5c; }
      .cart__checkout button:hover {
        background: transparent;
        color: #eba439; }
    .cart__checkout hr {
      display: block;
      height: 1px;
      width: 85%;
      margin: 0px auto;
      border: 0;
      background: #eba439; }

footer {
  padding: 20px 50px;
  font: normal normal 100 14px helvetica;
  letter-spacing: 0.2em;
  background-color: #324c5c;
  color: #b5cfcc; }
  footer .social {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center; }
    footer .social li {
      margin: 30px 30px; }
    footer .social img {
      height: 30px;
      width: 30px; }
