@keyframes loadIn {
  from {
    opacity: 0;
    transform: translateY(10px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0; }

html {
  background: #bdd7d6;
  /* height: 100%; */ }
  html body {
    background: #bdd7d6;
    /* min-height: 100%; */ }
    html body > #root {
      background: #bdd7d6;
      height: 100vh; }

::-webkit-scrollbar {
  width: 10px; }
  ::-webkit-scrollbar-track {
    background: #222222; }
  ::-webkit-scrollbar-thumb {
    background: #525252; }
    ::-webkit-scrollbar-thumb:hover {
      background: gray; }

header {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  width: 100vw;
  margin: auto;
  background: #7f9d9d;
  z-index: 5; }

nav {
  background: #7f9d9d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: auto;
  position: relative;
  top: 0; }
  nav .brand {
    margin: 15px auto;
    z-index: 1;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav .brand a {
      height: 45px;
      width: 110px;
      background: transparent;
      color: #bdd7d6;
      font: normal normal 900 30px "Righteous", cursive;
      letter-spacing: -0.06em;
      text-decoration: none; }
    nav .brand img {
      height: 100%;
      width: 100%; }
  nav .menu {
    background: #ee6b61;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -40vw;
    z-index: 95;
    opacity: 0;
    transition: left 0.4s ease, opacity 0.4s ease;
    padding: 70px 20px; }
    nav .menu--items {
      list-style: none;
      margin: 20px 10px;
      font: normal normal 700 20px "Righteous", cursive;
      letter-spacing: 0.1em;
      text-decoration: none;
      width: max-content; }
      nav .menu--items a {
        color: #eff2dd;
        text-decoration: none; }
    nav .menu--transparency {
      background-color: rgba(26, 68, 107, 0.4);
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 0;
      opacity: 0;
      visibility: hidden; }
    nav .menu--social {
      position: absolute;
      top: 90vh;
      display: flex;
      width: max-content;
      margin: auto; }
      nav .menu--social img {
        width: 30px;
        height: 30px;
        margin: 0 7px; }
  nav .hamburger {
    z-index: 99;
    position: relative;
    left: 0;
    margin: 20px;
    width: 25px;
    height: 25px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav .hamburger > div {
      left: 0;
      position: relative;
      width: 100%;
      height: 1px;
      background: #eff2dd;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
      /* transition-delay: -0.08s; */ }
      nav .hamburger > div:before, nav .hamburger > div:after {
        content: "";
        position: absolute;
        z-index: 999;
        top: -8px;
        width: 100%;
        height: 1px;
        background: inherit; }
      nav .hamburger > div:after {
        top: 8px; }
  nav [type="checkbox"] {
    width: 50px;
    height: 50px;
    margin: 10px;
    opacity: 0; }
  nav .toggle {
    z-index: 100;
    position: absolute;
    left: 0; }
    nav .toggle:checked ~ .menu--transparency {
      visibility: visible;
      z-index: 90;
      opacity: 1;
      transition: opacity 0.4s ease; }
    nav .toggle:checked + .hamburger > div {
      background: #bdd7d6;
      transform: rotate(45deg);
      transition-delay: 0.05s; }
      nav .toggle:checked + .hamburger > div:before, nav .toggle:checked + .hamburger > div:after {
        background: #bdd7d6;
        top: 0;
        transform: rotate(90deg); }
    nav .toggle:checked ~ .menu {
      left: 0;
      opacity: 1;
      transition: left 0.4s ease, opacity 0.4s ease; }
    nav .toggle:checked ~ .toggle__cart {
      z-index: 80; }
    nav .toggle:checked ~ .cart__icon {
      z-index: 80; }
    nav .toggle__cart {
      position: absolute;
      right: 0;
      z-index: 120; }
      nav .toggle__cart:checked ~ .cart__icon {
        color: #ee6b61;
        background: url(./images/clicked.svg);
        background-size: contain; }
      nav .toggle__cart:checked ~ .cart__menu {
        right: 0px;
        opacity: 1;
        transition: right 0.4s ease, opacity 0.4s ease; }
      nav .toggle__cart:checked ~ .menu--transparency {
        visibility: visible;
        z-index: 101;
        opacity: 1;
        transition: opacity 0.4s ease; }
      nav .toggle__cart:checked {
        z-index: 120; }
  nav .cart__menu {
    background: #516365;
    height: 100vh;
    width: 80vw;
    right: -80vw;
    top: 0;
    z-index: 105;
    display: hidden;
    opacity: 0;
    position: fixed;
    transition: right 0.4s ease, opacity 0.4s ease;
    padding: 0;
    margin: 0; }
    nav .cart__menu h1 {
      color: #eff2dd; }
    nav .cart__menu > div .cart__checkout {
      background: transparent;
      position: absolute;
      bottom: 0;
      height: 12vh; }
    nav .cart__menu .cart {
      color: #ee6b61;
      background: transparent; }
      nav .cart__menu .cart__list {
        height: 77vh; }
      nav .cart__menu .cart__name {
        color: #eff2dd; }
      nav .cart__menu .cart__price {
        color: #bdd7d6; }
      nav .cart__menu .cart__remove {
        border: 0;
        background: #ee6b61;
        color: #eff2dd; }
      nav .cart__menu .cart__quantity {
        /* border: 0; */
        color: #eff2dd;
        background: #7f9d9d; }
        nav .cart__menu .cart__quantity--increment {
          color: inherit;
          /* background: inherit; */ }
        nav .cart__menu .cart__quantity--count {
          /* background: inherit; */
          color: inherit; }
  nav .cart__icon {
    background: url(./images/cart.svg) no-repeat;
    background-size: contain;
    z-index: 119;
    border-color: #ee6b61;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border: none;
    position: relative;
    right: 0;
    height: 38px;
    width: 38px;
    font: normal normal 500 12px "Righteous", cursive;
    margin: 16px;
    color: #eff2dd;
    display: flex;
    justify-content: center;
    line-height: 280%; }
    nav .cart__icon text {
      text-decoration: none; }

.announcement {
  width: 100%;
  color: #eff2dd;
  font: normal normal 400 18px "Roboto";
  background: #ee6b61;
  /* padding: 5px; */ }
  .announcement p {
    text-align: center;
    padding: 10px; }

.homePage {
  background: #bdd7d6;
  width: 100%;
  height: 100%;
  color: #516365; }
  .homePage hr {
    height: 1px;
    width: 95%;
    margin: 30px auto;
    border: 0;
    background: #ee6b61; }
  .homePage .featured {
    animation: loadIn 0.8s;
    display: flex;
    text-decoration: none;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    background: #928282;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; }
    .homePage .featured::-webkit-scrollbar {
      display: none; }
    .homePage .featured__slide,
    .homePage .featured a {
      text-decoration: none;
      scroll-snap-align: start;
      min-width: 100%;
      object-fit: contain;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
    .homePage .featured img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      mix-blend-mode: multiply;
      opacity: 0.8; }
    .homePage .featured__name {
      color: #eff2dd;
      font: normal normal 500 25px "Righteous", cursive;
      letter-spacing: 0.2em;
      text-align: center;
      margin: auto;
      width: 28vh;
      height: auto;
      position: absolute;
      z-index: 1; }
    .homePage .featured__dotsContainer {
      width: max-content;
      margin: 30px auto;
      display: flex; }
      .homePage .featured__dotsContainer--dots {
        outline: none;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 0 10px;
        border: none;
        background: #7f9d9d; }
      .homePage .featured__dotsContainer .currentDot {
        background: #516365; }

.about {
  background: #bdd7d6;
  animation: loadIn 0.8s;
  text-align: center;
  color: #eff2dd;
  display: flex;
  height: 100%;
  /* padding: 40vh 0 0 0; */ }
  .about > div {
    width: 80%;
    margin: 30% auto; }
    .about > div p {
      text-align: left;
      color: #ee6b61; }

.product {
  background: #bdd7d6;
  height: max-content;
  font-family: "Righteous", cursive;
  display: block; }
  .product__category {
    margin: auto;
    color: #eff2dd;
    /* width: max-content; */
    background: #7f9d9d;
    display: flex;
    justify-content: center;
    align-items: center; }
    .product__category select {
      width: max-content;
      outline: none;
      background: #7f9d9d;
      border: none;
      color: #eff2dd;
      padding: 10px; }
    .product__category option {
      /* background: $accentColor; */
      outline: none; }
      .product__category option:focus,
      .product__category option :hover {
        background: #eff2dd; }
  .product a {
    text-decoration: none; }
  .product h1 {
    width: max-content;
    margin: auto;
    color: #ee6b61; }
  .product__list {
    margin: auto;
    max-width: 1680px; }
  .product__item {
    animation: loadIn 0.8s;
    display: inline-block;
    max-width: 50vw;
    vertical-align: top;
    margin-bottom: 15px; }
  .product__imgContainer {
    width: 80%;
    margin: 0 auto 15px auto; }
    .product__imgContainer img {
      width: 100%;
      margin: auto;
      object-fit: contain; }
  .product__info {
    width: 90%;
    margin: auto; }
  .product__name {
    color: #ee6b61;
    font: normal normal 700 16px Helvetica;
    letter-spacing: 0.1em;
    word-wrap: break-word;
    width: 100%;
    text-align: center; }
  .product__price {
    font: normal normal 600 16px Helvetica;
    letter-spacing: 0.1em;
    padding: 10px;
    color: #516365;
    width: max-content;
    margin: auto; }
  .product__btn {
    border-color: #ee6b61;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background: transparent;
    font: normal normal 700 20px Helvetica;
    letter-spacing: 0.2em;
    height: 40px;
    padding: 0 10px;
    color: #ee6b61; }

.items {
  animation: loadIn 0.8s;
  top: 150px;
  width: 100%;
  /* height: max-content; */
  background: #bdd7d6; }
  .items a {
    text-decoration: none; }
  .items__name, .items__price, .items__btn {
    width: max-content;
    display: block;
    margin: 5px auto; }
  .items__slider {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    margin: 25px;
    width: auto;
    height: 100%;
    display: flex;
    scroll-behavior: smooth; }
    .items__slider::-webkit-scrollbar {
      display: none; }
  .items__images,
  .items img {
    scroll-snap-align: start;
    margin: 0 auto;
    height: 100%;
    min-width: 100%;
    object-fit: contain; }
  .items__dotsContainer {
    width: max-content;
    margin: 30px auto;
    display: flex; }
    .items__dotsContainer--dots {
      outline: none;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 0 10px;
      border: none;
      background: #7f9d9d; }
    .items__dotsContainer .current-image {
      background: #516365; }
  .items__name {
    color: #ee6b61;
    font: normal normal 500 20px "Righteous", cursive;
    letter-spacing: 0.1em;
    margin: 10px auto;
    width: 100%;
    text-align: center; }
  .items__price {
    font: normal normal 500 16px "Righteous", cursive;
    letter-spacing: 0.1em;
    padding: 10px;
    color: #516365; }
  .items__description {
    color: #516365;
    margin: 15px auto;
    padding: 10px;
    max-width: 100vw;
    width: 80%;
    height: auto;
    word-wrap: break-word;
    font: normal normal 300 14px Helvetica; }
  .items__btn {
    border-color: #ee6b61;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background: #ee6b61;
    font: normal normal 700 20px Helvetica;
    letter-spacing: 0.3em;
    height: 60px;
    width: 85%;
    padding: 0 10px;
    color: #eff2dd;
    outline: none; }
    .items__btn:active {
      background: #d86a6a; }
  .items__quantity {
    color: #ee6b61;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #ee6b61;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    justify-self: center; }
    .items__quantity--count {
      border: 0;
      max-width: 30px;
      max-height: 30px;
      background: #bdd7d6;
      width: inherit;
      height: inherit;
      text-align: center;
      color: #ee6b61; }
    .items__quantity--increment {
      width: 20px;
      height: 30px;
      color: inherit;
      border: 0;
      background: transparent; }

.cart {
  background: #bdd7d6;
  min-height: 65vh;
  height: 100%;
  width: 100%;
  z-index: 106;
  display: flexbox; }
  .cart h1 {
    display: block;
    width: max-content;
    /*    top: 15px; */
    font: normal normal 500 25px "Righteous", cursive;
    color: #ee6b61;
    margin: 30px auto 0 25px; }
  .cart hr {
    display: block;
    height: 1px;
    width: 85%;
    margin: 20px auto 0 auto;
    border: 0;
    background: #ee6b61; }
  .cart__list {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; */
    overflow-x: hidden;
    overflow-y: scroll;
    width: max-content;
    margin: auto; }
    .cart__list::-webkit-scrollbar {
      width: 2px; }
    .cart__list::-webkit-scrollbar-track {
      display: hidden;
      background: transparent; }
    .cart__list::-webkit-scrollbar-thumb {
      background: #ee6b61; }
    .cart__list::-webkit-scrollbar-thumb:hover {
      background: gray; }
  .cart__items {
    display: grid;
    grid-template-columns: minmax(auto, 25%) minmax(auto, 60%);
    grid-template-rows: minmax(50%, 60%) minmax(50%, 60%);
    margin: 30px auto;
    width: 95%; }
  .cart__info {
    /* width: max-content; */ }
  .cart img {
    grid-column: 1;
    grid-row: 1/3;
    height: 80px;
    width: 80px;
    object-fit: cover;
    align-self: center;
    padding-right: 20px; }
  .cart__name {
    grid-row: 1;
    grid-column: 2;
    color: #516365;
    font: normal normal 500 18px "Righteous", cursive;
    letter-spacing: 0.1em;
    align-self: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .cart__price {
    grid-row: 1;
    grid-column: 2;
    font: normal normal 500 14px "Righteous", cursive;
    letter-spacing: 0.1em;
    color: #7f9d9d;
    align-self: end;
    /* width: max-content; */ }
  .cart__buttons {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    margin: 12px 0 0 0;
    /* width: max-content; */ }
  .cart__remove {
    border-radius: 5px;
    border: inherit;
    background: #7f9d9d;
    font: normal normal 300 10px "Righteous", cursive;
    letter-spacing: 0.3em;
    height: 31px;
    padding: 0 10px;
    color: #eff2dd;
    justify-self: start;
    margin-left: 5px; }
  .cart__quantity {
    color: #eff2dd;
    height: 30px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    justify-self: start;
    background: #516365;
    /* border: 1px solid $navColor; */ }
    .cart__quantity--count {
      border: inherit;
      max-width: 30px;
      max-height: 30px;
      background: transparent;
      width: inherit;
      height: inherit;
      text-align: center;
      color: inherit;
      outline: none; }
    .cart__quantity--increment, .cart__quantity--decrement {
      width: 20px;
      height: 30px;
      color: inherit;
      border: inherit;
      outline: none;
      background: transparent;
      /* &:hover {
        background: rgb(48, 70, 88);
      } */ }
      .cart__quantity--increment:active, .cart__quantity--decrement:active {
        background: #ee6b61;
        color: #bdd7d6; }
    .cart__quantity--decrement:active {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .cart__quantity--increment:active {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
  .cart__checkout {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    bottom: 0;
    text-align: center;
    margin-top: auto;
    outline: none; }
    .cart__checkout--empty {
      font: normal normal 400 20px "Righteous", cursive;
      color: #ee6b61;
      width: max-content;
      height: max-content;
      margin: auto;
      letter-spacing: 0.1em;
      position: absolute;
      top: 40vh;
      bottom: 40vh;
      left: 0;
      right: 0; }
    .cart__checkout a {
      color: #eff2dd;
      text-decoration: none;
      top: 50vh; }
    .cart__checkout button {
      font: normal normal 400 20px "Righteous", cursive;
      height: max-content;
      width: max-content;
      display: block;
      margin: 25px auto 0 auto;
      padding: 15px 25px;
      border-color: #ee6b61;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      background: #ee6b61;
      color: #bdd7d6;
      letter-spacing: 0.1em; }
      .cart__checkout button:hover {
        background: transparent;
        color: #ee6b61; }
    .cart__checkout hr {
      display: block;
      height: 1px;
      width: 85%;
      margin: 0px auto;
      border: 0;
      background: #ee6b61; }

.checkout {
  background: #bdd7d6;
  animation: loadIn 0.8s;
  color: #516365;
  height: 100%;
  margin: auto;
  font: normal normal 400 18px "Roboto";
  text-align: center; }
  .checkout hr {
    height: 1px;
    width: 95%;
    margin: 5px auto 10px auto;
    border: 0;
    background: #7f9d9d; }
  .checkout__title {
    font-family: "Righteous", cursive;
    letter-spacing: 0.1em;
    margin: 20px auto;
    color: #ee6b61;
    word-break: break-word; }
  .checkout__itemsList {
    margin: 10px 20px; }
    .checkout__itemsList li {
      margin: auto;
      display: flex;
      width: 100%; }
    .checkout__itemsList--name {
      display: flex;
      flex: 8;
      padding: 5px 5px;
      font: normal normal 500 20px "Roboto";
      text-align: start; }
      .checkout__itemsList--name img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin: 5px; }
    .checkout__itemsList--quantity {
      flex: 1;
      text-align: center;
      padding: 2px 5px; }
    .checkout__itemsList--price {
      flex: 2;
      text-align: center;
      padding: 2px 5px; }
  .checkout__cost {
    /* border: solid 1px $accentColor; */
    border-radius: 3px;
    width: 50%;
    margin: 20px 20px 20px auto;
    text-align: start; }
    .checkout__cost li {
      display: flex; }
      .checkout__cost li div {
        /* border: solid 1px $accentColor; */
        flex: 2;
        padding: 2px 5px; }
      .checkout__cost li p {
        /* border: solid 1px $accentColor; */
        flex: 1;
        padding: 2px 5px; }
    .checkout__cost--grandTotal {
      color: #516365;
      font: normal normal 700 18px "Roboto"; }
  .checkout__order {
    height: max-content;
    width: 95%;
    display: block;
    margin: 15px auto;
    padding: 8px 15px;
    border: #ee6b61 solid 1px;
    border-radius: 5px;
    background: #ee6b61;
    font: normal normal 700 20px "Roboto";
    color: #eff2dd;
    outline: none; }
    .checkout__order:active {
      background: #dd7575; }
  .checkout__empty {
    font: normal normal 400 20px "Righteous", cursive;
    color: #ee6b61;
    width: max-content;
    height: max-content;
    margin: auto;
    letter-spacing: 0.1em;
    position: absolute;
    top: 40vh;
    bottom: 40vh;
    left: 0;
    right: 0; }

.contact {
  background: #bdd7d6;
  animation: loadIn 0.8s;
  font: normal normal 300 16px "Righteous", cursive;
  text-align: center;
  color: #7f9d9d;
  height: 100%;
  display: flex;
  align-items: flex-start; }
  .contact > div {
    margin: 50% auto; }
    .contact > div h1 {
      margin: auto;
      width: max-content; }
    .contact > div p {
      color: #ee6b61; }

footer {
  /* padding: 20px 50px; */
  font: normal normal 100 14px "Righteous", cursive;
  letter-spacing: 0.2em;
  background-color: #7f9d9d;
  color: #eff2dd;
  text-align: center;
  width: 100vw;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0; }
  footer hr {
    display: block;
    height: 1px;
    width: 85%;
    margin: 20px auto 0 auto;
    border: 0;
    background: #ee6b61; }
  footer p {
    margin: auto;
    width: max-content;
    position: relative;
    top: 40px; }
  footer .social {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    visibility: hidden; }
    footer .social li {
      margin: 30px 30px; }
    footer .social img {
      height: 30px;
      width: 30px; }
