.about {
  animation: $loadIn;
  text-align: center;
  color: $fontColor;
  /* height: 100vh; */
  padding: 40vh 0 0 0;
  & > div {
    width: 80%;
    margin: auto;
    p {
      text-align: left;
      color: $accentColor;
    }
  }
}
