//CART
.cart {
  top: 150px;
  height: 100%;
  width: 100%;
  font-family: $typeFace;
  margin-top: 150px;
  display: flex;
  flex-direction: column;

  h1 {
    width: max-content;
    margin: auto;
    color: $accentColor;
  }
  &__list {
    /* width: max-content; */
    display: table;
    table-layout: fixed;
    margin: auto 10px;
  }
  img {
    display: table-cell;
    align-self: center;
    margin: 0 5px;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  &__name {
    color: $fontColor;
    font: normal normal 700 25px $typeFace;
    letter-spacing: 0.2em;
  }
  &__price {
    justify-self: flex-start;

    font: normal normal 600 20px $typeFace;
    letter-spacing: 0.1em;

    color: $priceColor;
  }
  &__btn {
    justify-self: flex-end;

    border-color: $accentColor;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background: transparent;
    font: normal normal 700 15px $typeFace;
    letter-spacing: 0.3em;
    height: 50px;
    width: max-content;
    padding: 0 10px;
    color: $accentColor;
  }
}
