//CART
.cart {
  background: $background-color;
  min-height: 65vh;
  height: 100%;
  width: 100%;
  z-index: 106;
  display: flexbox;

  h1 {
    display: block;
    width: max-content;
    /*    top: 15px; */
    font: normal normal 500 25px $typeFace;
    color: $accentColor;
    margin: 30px auto 0 25px;
  }
  hr {
    display: block;
    height: 1px;
    width: 85%;
    margin: 20px auto 0 auto;
    border: 0;
    background: $accentColor;
  }

  &__list {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; */
    overflow-x: hidden;
    overflow-y: scroll;
    width: max-content;
    margin: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      display: hidden;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: $accentColor;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: gray;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: minmax(auto, 25%) minmax(auto, 60%);
    grid-template-rows: minmax(50%, 60%) minmax(50%, 60%);
    margin: 30px auto;
    width: 95%;
  }
  &__info {
    /* width: max-content; */
  }
  img {
    grid-column: 1;
    grid-row: 1/3;
    height: 80px;
    width: 80px;
    object-fit: cover;
    align-self: center;
    padding-right: 20px;
  }
  &__name {
    grid-row: 1;
    grid-column: 2;
    color: $priceColor;
    font: normal normal 500 18px $typeFace;
    letter-spacing: 0.1em;
    align-self: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price {
    grid-row: 1;
    grid-column: 2;
    font: normal normal 500 14px $typeFace;
    letter-spacing: 0.1em;
    color: $navColor;
    align-self: end;
    /* width: max-content; */
  }
  &__buttons {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    margin: 12px 0 0 0;
    /* width: max-content; */
  }
  &__remove {
    border-radius: 5px;
    border: inherit;
    background: $navColor;
    font: normal normal 300 10px $typeFace;
    letter-spacing: 0.3em;
    height: 31px;
    padding: 0 10px;
    color: $fontColor;
    justify-self: start;
    margin-left: 5px;
  }
  &__quantity {
    color: $fontColor;
    height: 30px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    justify-self: start;
    background: $priceColor;
    /* border: 1px solid $navColor; */

    &--count {
      border: inherit;
      max-width: 30px;
      max-height: 30px;
      background: transparent;
      width: inherit;
      height: inherit;
      text-align: center;
      color: inherit;
      outline: none;
    }
    &--increment,
    &--decrement {
      width: 20px;
      height: 30px;
      color: inherit;
      border: inherit;
      outline: none;
      background: transparent;
      /* &:hover {
        background: rgb(48, 70, 88);
      } */
      &:active {
        background: $accentColor;
        color: $background-color;
      }
    }
    &--decrement:active {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &--increment:active {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &__checkout {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    bottom: 0;
    text-align: center;
    margin-top: auto;
    outline: none;

    &--empty {
      font: normal normal 400 20px $typeFace;
      color: $accentColor;
      width: max-content;
      height: max-content;
      margin: auto;
      letter-spacing: 0.1em;
      position: absolute;
      top: 40vh;
      bottom: 40vh;
      left: 0;
      right: 0;
    }
    a {
      color: $fontColor;
      text-decoration: none;
      top: 50vh;
    }

    button {
      font: normal normal 400 20px $typeFace;
      height: max-content;
      width: max-content;
      display: block;
      margin: 25px auto 0 auto;
      padding: 15px 25px;
      border-color: $accentColor;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      background: $accentColor;
      color: $background-color;
      letter-spacing: 0.1em;

      &:hover {
        background: transparent;
        color: $accentColor;
      }
    }
    hr {
      display: block;
      height: 1px;
      width: 85%;
      margin: 0px auto;
      border: 0;
      background: $accentColor;
    }
  }
}
