.checkout {
  background: $background-color;
  animation: $loadIn;
  color: $priceColor;
  height: 100%;
  margin: auto;
  font: normal normal 400 18px $typeFace2;
  text-align: center;

  hr {
    height: 1px;
    width: 95%;
    margin: 5px auto 10px auto;
    border: 0;
    background: $navColor;
  }
  &__title {
    font-family: $typeFace;
    letter-spacing: 0.1em;
    margin: 20px auto;
    color: $accentColor;
    word-break: break-word;
  }
  &__itemsList {
    margin: 10px 20px;

    li {
      margin: auto;
      display: flex;
      width: 100%;
    }
    &--name {
      display: flex;

      flex: 8;
      padding: 5px 5px;
      font: normal normal 500 20px $typeFace2;
      text-align: start;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin: 5px;
      }
    }
    &--quantity {
      flex: 1;
      text-align: center;
      padding: 2px 5px;
    }
    &--price {
      flex: 2;
      text-align: center;
      padding: 2px 5px;
    }
  }
  &__cost {
    /* border: solid 1px $accentColor; */
    border-radius: 3px;
    width: 50%;
    margin: 20px 20px 20px auto;
    text-align: start;

    li {
      display: flex;

      div {
        /* border: solid 1px $accentColor; */
        flex: 2;
        padding: 2px 5px;
      }
      p {
        /* border: solid 1px $accentColor; */
        flex: 1;
        padding: 2px 5px;
      }
    }
    &--grandTotal {
      color: $priceColor;
      font: normal normal 700 18px $typeFace2;
    }
  }
  &__order {
    height: max-content;
    width: 95%;
    display: block;
    margin: 15px auto;
    padding: 8px 15px;
    border: $accentColor solid 1px;
    border-radius: 5px;
    background: $accentColor;
    font: normal normal 700 20px $typeFace2;
    color: $fontColor;
    outline: none;

    &:active {
      background: rgb(221, 117, 117);
    }
  }
  &__empty {
    font: normal normal 400 20px $typeFace;
    color: $accentColor;
    width: max-content;
    height: max-content;
    margin: auto;
    letter-spacing: 0.1em;
    position: absolute;
    top: 40vh;
    bottom: 40vh;
    left: 0;
    right: 0;
  }
}
