.contact {
  background: $background-color;
  animation: $loadIn;
  font: normal normal 300 16px $typeFace;
  text-align: center;
  color: $navColor;
  height: 100%;
  display: flex;
  align-items: flex-start;

  & > div {
    margin: 50% auto;
    h1 {
      margin: auto;
      width: max-content;
    }
    p {
      color: $accentColor;
    }
  }
}
