.contact {
  animation: $loadIn;
  text-align: center;
  color: $fontColor;
  height: 100%;
  /* padding: 45vh 0; */
  & > div {
    /* height: 100%; */
    /* width: 80%; */
    margin: 50% auto;
    h1 {
      margin: auto;
      width: max-content;
    }
    p {
      color: $accentColor;
    }
  }
}
