//FOOTER
footer {
  /* padding: 20px 50px; */
  font: normal normal 100 14px $typeFace;
  letter-spacing: 0.2em;
  background-color: $navColor;
  color: $fontColor;
  text-align: center;
  width: 100vw;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;

  hr {
    display: block;
    height: 1px;
    width: 85%;
    margin: 20px auto 0 auto;
    border: 0;
    background: $accentColor;
  }
  p {
    margin: auto;
    width: max-content;
    position: relative;
    top: 40px;
  }
  .social {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    visibility: hidden;
    li {
      margin: 30px 30px;
    }
    img {
      height: 30px;
      width: 30px;
    }
  }
}
