@media only screen and (min-width: 700px) {
  header {
    .mobile {
      max-width: 1680px;
      display: none;
      .hamburger {
        display: none;
        & > div {
          display: none;
        }
      }
      .cart_icon {
        display: none;
      }
      input {
        display: none;
      }
      .brand {
        margin: 0 auto 0 10vw;
      }
      .menu {
        height: 100%;
        position: relative;
        top: 0;
        z-index: 1;
        opacity: 0;
        transition: left 0.4s ease, opacity 0.4s ease;
        padding: 0;
        left: 0;
        opacity: 1;
        width: max-content;
        /* margin: 0 0 0 auto; */
        display: block;
        background: transparent;

        ul {
          margin: 25px 20px;
        }

        &--items {
          margin: 0 15px;
          display: inline-block;
        }
        &--social {
          display: none;
        }
      }
    }
    .desktop {
      display: flex;

      &__brand {
        /* flex: 5;
        order: 1; */
        margin: 15px auto;
        z-index: 1;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
          height: 45px;
          width: 110px;
          background: transparent;
          color: $background-color;
          font: normal normal 900 30px $typeFace;
          letter-spacing: -0.06em;
          text-decoration: none;
        }
        img {
          /* margin-left: 50px; */
          height: 100%;
          width: 100%;
        }
      }
      &__nav--left,
      &__nav--right {
        /* flex: 1;
        order: 2; */
        display: flex;
        list-style: none;
        margin: auto;
        li {
          margin: 20px 10px;
          a {
            color: $fontColor;
            text-decoration: none;
            font: normal normal 500 18px $typeFace;
            letter-spacing: 0.1em;
            opacity: 0.5;
            transition: opacity 0.3s ease;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .homePage {
    .featured {
      max-height: 70vh;
      overflow: hidden;

      &__slide,
      a {
        /* object-fit: cover; */

        img {
          height: auto;
        }
      }
    }
  }
  .items {
    max-width: 1680px;
    margin: 20px auto;
    display: flex;
    height: 80vh;

    &__carousel {
      justify-self: center;
      flex: 2;
      overflow: hidden;
      height: 100%;
      max-height: 70%;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
    }
    &__slider {
      overflow-y: hidden;
    }
    &__info {
      flex: 1;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-height: 70%;
      display: flex;
      margin: 0 5% 0 0;

      & > div {
        align-self: center;
        min-width: 100%;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &__name,
    &__price,
    &__description {
      text-align: left;
      width: 100%;
    }
    &__name {
      font: normal normal 500 25px $typeFace;
      flex: 1;
      margin: 10px;
    }
    &__price {
      font: normal normal 500 20px $typeFace;
      flex: 1;
      padding: 0;
      margin: 10px;
    }
    &__description {
      flex: 8;
      margin: 10px;
      padding: 0;
    }
    &__btn {
      flex: 2;
      margin: 50px 0;
      padding: 20px;
      width: 100%;
      /* position: absolute;
      bottom: 30px; */
    }
  }
  .about {
    & > div {
      p {
        max-width: 700px;
      }
    }
  }

  .cart {
    max-width: 1680px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: auto;
    hr,
    & > h1 {
      display: none;
    }
    &__list {
      height: 100%;
      flex: 1.5;
      justify-self: end;
      grid-column: 1/2;
      width: 50%;
      margin: auto;
    }
    &__items {
      max-width: 700px;
      height: 10vh;
      margin: 50px auto 50px auto;
      justify-content: center;
      grid-template-columns: 50% 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__buttons {
      width: 100%;
      justify-content: end;
      margin: auto;
    }
    &__quantity {
      margin: 0 15px 0 0;
    }
    &__checkout {
      display: none;
    }
    &__desktop {
      justify-self: center;
      flex: 1;
      display: block;

      ul {
        margin: 0 auto;
        width: max-content;
      }
    }
    .checkout {
      padding-top: 20px;
      display: block;
      flex: 1;
      /* margin: 0 10px 0 0; */
      width: 50%;
      &__title {
        margin: 20px 10px;
      }
      &__itemsList {
        display: none;
      }
      &__cost {
        width: 80%;
        margin: 10px 0;
      }
      &__order {
        width: 75%;
        max-width: 440px;
        margin: 0 50px 0 0;
      }
      &__empty {
        display: none;
      }
    }
  }
}
