//NAVIGATION
header {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  width: 100vw;
  margin: auto;
  background: $navColor;
  z-index: 5;
}
nav {
  background: $navColor;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: auto;
  position: relative;
  top: 0;

  .brand {
    margin: 15px auto;
    z-index: 1;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
      height: 45px;
      width: 110px;
      background: transparent;
      color: $background-color;
      font: normal normal 900 30px $typeFace;
      letter-spacing: -0.06em;
      text-decoration: none;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .menu {
    background: $accentColor;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -40vw;
    z-index: 95;
    opacity: 0;
    transition: left 0.4s ease, opacity 0.4s ease;
    padding: 70px 20px;

    &--items {
      list-style: none;
      margin: 20px 10px;
      font: normal normal 700 20px $typeFace;
      letter-spacing: 0.1em;
      text-decoration: none;
      width: max-content;

      & a {
        color: $fontColor;
        text-decoration: none;
      }
    }
    &--transparency {
      background-color: rgba(26, 68, 107, 0.4);
      position: absolute;
      right: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 0;
      opacity: 0;
      visibility: hidden;
    }
    &--social {
      position: absolute;
      top: 90vh;
      display: flex;
      width: max-content;
      margin: auto;

      img {
        width: 30px;
        height: 30px;
        margin: 0 7px;
      }
    }
  }
  .hamburger {
    z-index: 99;
    position: relative;
    left: 0;
    margin: 20px;
    width: 25px;
    height: 25px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    //middle line
    & > div {
      left: 0;
      position: relative;
      width: 100%;
      height: 1px;
      background: $fontColor;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
      /* transition-delay: -0.08s; */
      //add top and bottom lines
      &:before,
      &:after {
        content: "";
        position: absolute;
        z-index: 999;
        top: -8px;
        width: 100%;
        height: 1px;
        background: inherit;
      }
      &:after {
        top: 8px;
      }
    }
  }
  [type="checkbox"] {
    width: 50px;
    height: 50px;
    margin: 10px;
    opacity: 0;
  }
  .toggle {
    z-index: 100;
    position: absolute;
    left: 0;

    &:checked ~ .menu--transparency {
      visibility: visible;
      z-index: 90;
      opacity: 1;
      transition: opacity 0.4s ease;
    }
    //rotate lines
    &:checked + .hamburger > div {
      background: $background-color;
      transform: rotate(45deg);
      transition-delay: 0.05s;
      //turn top and bottom lines into X
      &:before,
      &:after {
        background: $background-color;
        top: 0;
        transform: rotate(90deg);
      }
    }
    &:checked ~ .menu {
      left: 0;
      opacity: 1;
      transition: left 0.4s ease, opacity 0.4s ease;
    }
    &:checked ~ .toggle__cart {
      z-index: 80;
    }
    &:checked ~ .cart__icon {
      z-index: 80;
    }
    &__cart {
      position: absolute;
      right: 0;
      z-index: 120;

      &:checked ~ .cart__icon {
        color: $accentColor;
        background: url(./images/clicked.svg);
        background-size: contain;
      }
      &:checked ~ .cart__menu {
        right: 0px;
        opacity: 1;
        transition: right 0.4s ease, opacity 0.4s ease;
      }
      &:checked ~ .menu--transparency {
        visibility: visible;
        z-index: 101;
        opacity: 1;
        transition: opacity 0.4s ease;
      }
      &:checked {
        z-index: 120;
      }
    }
  }
  .cart__menu {
    background: $priceColor;
    height: 100vh;
    width: 80vw;
    right: -80vw;
    top: 0;
    z-index: 105;
    display: hidden;
    opacity: 0;
    position: fixed;
    transition: right 0.4s ease, opacity 0.4s ease;
    padding: 0;
    margin: 0;

    h1 {
      color: $fontColor;
    }

    & > div .cart__checkout {
      background: transparent;
      position: absolute;
      bottom: 0;
      height: 12vh;
    }
    .cart {
      color: $accentColor;
      background: transparent;

      &__list {
        height: 77vh;
      }
      &__name {
        color: $fontColor;
      }
      &__price {
        color: $background-color;
      }
      &__remove {
        border: 0;
        background: $accentColor;
        color: $fontColor;
      }
      &__quantity {
        /* border: 0; */
        color: $fontColor;
        background: $navColor;

        &--increment {
          color: inherit;
          /* background: inherit; */
        }
        &--count {
          /* background: inherit; */
          color: inherit;
        }
      }
    }
  }
  .cart__icon {
    background: url(./images/cart.svg) no-repeat;
    background-size: contain;
    z-index: 119;
    border-color: $accentColor;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border: none;
    position: relative;
    right: 0;
    height: 38px;
    width: 38px;
    font: normal normal 500 12px $typeFace;
    margin: 16px;
    color: $fontColor;
    display: flex;
    justify-content: center;
    line-height: 280%;

    text {
      text-decoration: none;
    }
  }
}
.announcement {
  width: 100%;
  color: $fontColor;
  font: normal normal 400 18px $typeFace2;
  background: $accentColor;
  /* padding: 5px; */
  p {
    text-align: center;
    padding: 10px;
  }
}
