.product {
  top: 150px;
  height: 100%;
  width: 100%;
  font-family: $typeFace;
  margin-top: 150px;

  &__list,
  &__name,
  &__price,
  &__btn,
  img {
    width: max-content;
    display: block;
    margin: 10px auto;
  }
  img {
    margin-bottom: 20px;
    height: 300px;
    width: 100vw;
    object-fit: cover;
  }
  &__name {
    color: $fontColor;
    font: normal normal 700 25px Helvetica;
    letter-spacing: 0.2em;
  }
  &__price {
    font: normal normal 600 20px Helvetica;
    letter-spacing: 0.1em;
    padding: 10px;
    color: $priceColor;
  }
  &__btn {
    border-color: $accentColor;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background: transparent;
    font: normal normal 700 20px Helvetica;
    letter-spacing: 0.2em;
    height: 40px;
    padding: 0 10px;
    color: $accentColor;
  }
}
